body {
    margin: 0%;
}

.n1 {
    background-color: rgb(40, 125, 252);
    height: 70px;
    width: 100%;
}

.nav-link {
    color: white;
}

.c1 h3 {
    font-size: 5em;
    color: rgb(40, 125, 252);
    margin-bottom: 10%;
    transition: 2s ease-in-out;
}

.c1 h3:hover {
    transform: scale(1.05);
    color: white;
    text-shadow: 2px 2px 8px black;
}

.c1 a {
    text-decoration: none;
    color: rgb(40, 125, 252);
    transition: 1s ease-in;
}

.c1 a:hover {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 8px black;
}

.c3 {
    margin-bottom: 15%;
    background-color: rgba(0, 0, 0, 0.581);
    border-radius: 20px;
    width: 25%;
}

.a1 {
    animation: anim .7s ease-in-out 2s infinite;
    width: 7%;
    margin-left: 10.5%;
    margin-bottom: 2%;
}

.a1:hover {
    animation-play-state: paused;
    box-shadow: 4px 4px 20px rgb(40, 125, 252);
    border-radius: 15px;
}

.a2 {
    animation: anim .7s ease-in-out 2s infinite;
    width: 7%;
    margin-left: 8%
}

.a2:hover {
    animation-play-state: paused;
    box-shadow: 2px 2px 30px rgb(0, 102, 254);
    border-radius: 15px;
}

.c4 {
    margin-top: 2%;
}

.b1 {
    background-color: rgb(40, 125, 252);
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 47.5%;
}

.i2 {
    border-radius: 30px;
    transition: 1s ease-in-out;
}

.i2:hover {
    box-shadow: 8px 8px 20px black;
    transform: translate(0, -5px);
}

.c5 {
    background-color: rgb(40, 125, 252);
    border-radius: 30px;
    width: 90%;
}

.c6 {
    padding-left: 4%;
    padding-top: 1%;
    font-size: small;
}

.c6 h6 {
    font-size: large;
}


@keyframes anim {
    0% {
        transform: scale(1.025);
    }

    20% {
        transform: scale(1.05);
    }

    30% {
        transform: scale(1.075);
    }

    40% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.125);
    }

    60% {
        transform: scale(1.1);
    }

    70% {
        transform: scale(1.075);
    }

    80% {
        transform: scale(1.05);
    }

    90% {
        transform: scale(1.025);
    }

    100% {
        transform: scale(1);
    }
}

@media(max-width: 1300px) {
    .c1 h3 {
        font-size: 3.5em;
        margin-bottom: 8%;
    }

    .c3 {
        width: 45%;
        margin-bottom: 12%;
    }

}

@media(max-width: 950px) {
    .c1 h3 {
        font-size: 2em;
        margin-bottom: 6%;
    }

    .c3 {
        width: 70%;
        margin-left: -20px;
        margin-bottom: 8%;
    }

    .c3 h2 {
        font-size: larger;
    }

    .c3 p {
        font-size: small;
    }

    .c4 {
        font-size: larger;
        margin-top: 4%;
    }

    .a1 {
        width: 8%;
        margin-left: 10%;
    }

    .a2 {
        width: 12%;
        margin-left: 16%;
        margin-top: 4%;
        margin-bottom: 4%;
    }


    .b1 {
        margin-left: 47%;
    }

    .c6 {
        padding-left: 3%;
        padding-top: 1%;
        font-size: xx-small;
    }

    .c6 h6 {
        font-size: small;
    }
}

@media(max-width: 550px) {

    .c1 h3 {
        font-size: 1.2em;
        margin-bottom: 0%;
    }

    .c4 {
        font-size: medium;
        margin-top: 3%;
    }


    .a1 {
        width: 40%;
        margin-left: 29%;
        margin-top: 3%;
        margin-bottom: 6%;
    }

    .a2 {
        width: 40%;
        margin-left: 30.5%;
        margin-top: 6%;
        margin-bottom: 3%;
    }

    .modal h6 {
        font-size: small;
    }

    .modal a {
        font-size: x-small;
    }

    .b1 {
        margin-left: 41%;
    }

    .c6 {
        padding-left: 13%;
        padding-top: 1%;
        font-size: xx-small;
    }

    .c6 h6 {
        font-size: small;
    }

}

@media(max-width: 610px) {
    .c3 {
        width: 92%;
        margin-left: -50px;
        margin-bottom: -10PX;

    }

    .c3 h2 {
        font-size: medium;
    }

    .c3 p {
        font-size: x-small;
    }
}

@media(max-width: 380px) {
    .c3 {
        width: 99%;
        margin-left: -50px;
        margin-bottom: -18PX;

    }

    .c3 h2 {
        font-size: x-small;
    }

    .c3 p {
        font-size: xx-small;
    }

}
@media(max-width: 321px){
    .c3 {
        display: none;

    }
}
